<%= form_for @transaction do |f| %>
  <%= f.file_field :scanning %>

	<p>
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </p>

	<p>
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </p>

	<p>
    <%= f.label :member_id %><br>
    <%= f.text_field :member_id %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>

<% end %>
